dev/
vsketch/
generative_art_workshop/images/
generative_art_workshop/music/
generative_art_workshop/video/
generative_art_workshop/backup/
generative_art_workshop/art/
.DS_Store
__pycache__/
.idea/
.ipynb_checkpoints/

